<header>
<div class="container py-4 m-0">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top pt-4 pb-3">
            <div class="container">
                <img src="assets/img/logoC.png" class="" alt="Logo" style="cursor: pointer" routerLink="/login">
                <button class="navbar-toggler navbar-toggler-right " type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="btn nav-link bg-info px-5 text-dark text-center font-weight-bold rounded" style="cursor:pointer" (click)="salirBusquedaVisitante()">Salir</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
</header>