<app-header></app-header>

<!--Contenedor Contenido Pagina-->
<div class="mb-5 contenedor py-3">

    <!--Titulo pagina-->
    <div class="container m-auto pb-2 bg-primary rounded-top">
        <h1 style="cursor:context-menu" class="mt-5 pt-4 text-center">Borrar Contenido</h1>
    </div>
    <!--Contenedor Formulario-->
    <div class="container container pt-1 bg-secondary rounded-bottom">

        <!--Buscar Actividad-->
        <div>
            <div class="contenedor py-3">
                <form #frmBorrarContenido="ngForm" (ngSubmit)="onBorrarContenido(frmBorrarContenido)">
                    <!--Barra busqueda-->
                    <div class="form-group">
                        <label for="inputNombreActividad" class="text-white">Busqueda de Contenido</label>
                        <div class="form-inline">
                            <input type="text" class="form-control col-md-8" id="inputTextoBusqueda" placeholder="Busqueda por nombre" [(ngModel)]="nombreCREASelected" name="inputBusquedaContenido">
                        </div>
                    </div>
                    <!--Filtros-->
                    <label for="inputState" class="text-white">Filtros:</label>
                    <div class="form-row pb-3">
                        <div class="form-group col">
                            <label for="inputMateria" class="text-white">Materia</label>
                            <select [(ngModel)]="materiaSelected" id="inputMateria" name="materia" class="form-control" ngModel required>
                                <option selected></option>
                                <option *ngFor="let mater of materia" [value]="mater.nombre_materia">{{mater.nombre_materia}}</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="inputGrado" class="text-white">Grado</label>
                            <select [(ngModel)]="gradoSelected" id="inputGrado" name="grado" class="form-control" ngModel required>
                                <option selected></option>
                                <option *ngFor="let grad of grado" [value]="grad.id_grado">{{grad.nombre_grado}}</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="inputType" class="text-white">Tipo de Contenido</label>
                            <select [(ngModel)]="tipoContenidoSelected" id="inputType" name="tipoContenido" class="form-control" ngModel required>
                                <option selected></option>
                                <option *ngFor="let tipCon of tipoContenido" [value]="tipCon.id_tipoContenido">{{tipCon.nombre_tipoContenido}}</option>
                            </select>
                        </div>
                    </div>
                    <!--Tabla de Resultados-->
                    <label for="inputState" class="text-white">Resultados:</label>
                    <div class="col container p-4 my bg-light rounded table-wrapper-scroll-y my-custom-scrollbar"
                        style="width: 95%; height: 450px">
                        <!--Resultado-->
                        <div class="row-1" *ngFor="let contenidoREA of contenidoVisualizar | filterContentDelete: nombreCREASelected:materiaSelected:gradoSelected:tipoContenidoSelected">
                            <div class="card mb-4 border-0" style="max-width: 1440px;">
                                <div class="card-footer p-2 bg-primary rounded-top">
                                    <h5 class="card-title m-1">{{contenidoREA.nombre_CREA}}</h5>
                                </div>
                                <div class="row no-gutters border border-top-0 border-secondary">
                                    <div class="col" style="max-width: 840px;">
                                        <div class="card-body p-2">
                                            <p class="card-text ">Descripcion: {{contenidoREA.descripcion_CREA}}.</p>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Materia: {{contenidoREA.materia}}</small></p>
                                            </div>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Grado: {{contenidoREA.id_grado}}</small></p>
                                            </div>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Tipo de contenido: {{contenidoREA.nombre_tipo_CREA}}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Boton borrar Contenido-->
                                <div class="card-footer bg-secondary row justify-content-md-center no-gutters p-1">
                                    <a class="btn btn-primary" data-toggle="modal" data-target="#mimodalejemplo" (click)="saveData(contenidoREA)">Borrar Contenido</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr class="style2">
        <br>
    </div>

    <!--Modal Confirmar Eliminar Contenido-->
    <div class="modal fade" id="mimodalejemplo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="myModalLabel">Confirmar Acción</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Para borrar el Contenido presione Aceptar, de lo contrario presione X
                    para cancelar.
                </div>
                <div class="modal-footer justify-content-md-center no-gutters bg-light py-1">
                    <a class="btn btn-default bg-warning font-weight-bold" data-dismiss="modal" data-toggle="modal" data-target="#mimodalejemplo2" (click)="deleteContenido()">Aceptar</a>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Contenido Eliminado-->
    <div class="modal fade" id="mimodalejemplo2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="myModalLabel">Mensaje</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="" *ngIf="mensaje">Eliminando Contenido. Espere por favor.</div>
                    <div class="text-info" *ngIf="correcto">El contenido ha sido Eliminado.</div>
                </div>
            </div>
        </div>
    </div>

</div>
