<div class="row-1">
    <div>
        <h5 style="cursor:context-menu" class="">Comentarios</h5>
    </div>
    <div class="card">
        <ul class="list-group list-group-flush" *ngFor="let comment of comments  | slice:-1">

            <div class="row">
                <div class=" col-md-8 ">
                    <a class="card-text"><small class="text-muted">{{comment.comentario}} </small></a>
                </div>
                <div class="  col-md-4 "><a class="card-text"><small class="text-muted">{{comment.createdAt |
                            date:'medium':'MMM d, y, h:mm:ss a'}}</small></a></div>
            </div>

        </ul>
        <a class="badge badge-primary" style="color: #fff">Ver todos los comentarios</a>
    </div>
</div>