<app-header></app-header>

<!--Contenedor Contenido Pagina-->
<div class="mb-5 container py-3">

    <!-- Buscador -->
    <div class="container m-auto pb-2 bg-danger rounded-top">
        <h1 style="cursor:context-menu" class="mt-5 pt-4 text-center">Busqueda</h1>
    </div>
    <!--Contenedor busqueda-->
    <div class="container pt-1 bg-secondary rounded-bottom">

        <!--Opciones de Busqueda-->
        <div>
            <div class="contenedor py-3">
                <form>
                    <!--Tabs-->
                    <div class="row">
                        <div class="col">
                            <div class="mt-3">
                                <div class="container">
                                    <!--Opcion Tab-->
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="col nav-item nav-link text-center active font-weight-bold text-dark"
                                                id="nav-Pregunta1ACT-tab" data-toggle="tab" href="#nav-Pregunta1ACT" role="tab"
                                                aria-controls="nav-Pregunta1ACT" aria-selected="true">Busqueda de Actividades</a>
                                            <a class="col nav-item nav-link text-center font-weight-bold text-dark"
                                                id="nav-Pregunta2CON-tab" data-toggle="tab" href="#nav-Pregunta2CON" role="tab"
                                                aria-controls="nav-Pregunta2CON" aria-selected="false">Busqueda de Contenidos</a>
                                        </div>
                                    </nav>
        
                                    <!--Tabs Resultados-->
                                    <div class="tab-content" id="nav-tabContent">
                                        <br>
        
                                        <!--Tab 1-->
                                        <div class="tab-pane fade show active" id="nav-Pregunta1ACT" role="tabpanel" aria-labelledby="nav-Pregunta1ACT-tab">
                                            <div class="form-group">
                                                <h4 style="cursor:context-menu" class="pb-1 pt-3 text-center text-white font-weight-bold">Actividades</h4>
                                                <!--Buscar Actividad-->
                                                <div>
                                                    <div class="contenedor py-3">
                                                        <form #frmBuscarActividad="ngForm" (ngSubmit)="saveDataActividad(frmBuscarActvidad)">
                                                            <div class="form-group px-0">
                                                                <!--Barra busqueda-->
                                                                <br>
                                                                <div class="form-inline">
                                                                    <input type="text" class="form-control col-md-8" id="inputTextoBusquedaActividad" placeholder="Busqueda por nombre de la Actividad" [(ngModel)]="nombreActividadSelected"
                                                                        name="inputBusquedaActividad">
                                                                </div>
                                                            </div>
                                                            <label for="inputState" class="text-white">Filtros:</label>
                                                            <div class="form-row pb-3">
                                                                <!--Filtros-->
                                                                <div class="form-group col">
                                                                    <label for="inputMateriaA" class="text-white">Materia</label>
                                                                    <select [(ngModel)]="materiaSelectedA" id="inputMateriaA" name="materiaA"
                                                                        class="form-control" ngModel required>
                                                                        <option selected></option>
                                                                        <option *ngFor="let mater of materia" [value]="mater.id_materia">
                                                                            {{mater.nombre_materia}}</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col">
                                                                    <label for="inputGradoA" class="text-white">Grado</label>
                                                                    <select [(ngModel)]="gradoSelectedA" id="inputGradoA" name="gradoA" class="form-control"
                                                                        ngModel required>
                                                                        <option selected></option>
                                                                        <option *ngFor="let grad of grado" [value]="grad.id_grado">{{grad.nombre_grado}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col">
                                                                    <label for="inputDocenteA" class="text-white">Profesor</label>
                                                                    <select [(ngModel)]="docenteSelectedA" id="inputDocenteA" name="DocenteA"
                                                                        class="form-control" ngModel required>
                                                                        <option selected></option>
                                                                        <option *ngFor="let docen of docente" [value]="docen.id_docente">
                                                                            {{(docen.nombre_docente+" "+docen.apellido_docente)}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <!--Filtro Competencia-->
                                                            <div class="form-group col px-0">
                                                                <label for="inputDocenteA" class="text-white">Buscador Competencia</label>
                                                                <input type="text" class="form-control col-5" id="inputTextoBusquedaCompetencia" placeholder="Ingrese palabra clave" [(ngModel)]="nombreCompetenciaSelected"
                                                                    name="inputBusquedaCompetencia">
                                                            </div>
                                                            <div class="form-row pb-3">
                                                                <div class="form-group col">
                                                                    <label for="inputDocenteA" class="text-white">Competencia</label>
                                                                    <select [(ngModel)]="competenciaSelectedA" id="inputCompetenciaA" name="competenciaA" class="form-control" onfocus='if(this.options.length > 2){ this.size = 8; }' onblur='this.size=1;' onchange='this.size=1; this.blur();' ngModel required>
                                                                        <option class="col-auto px-0" selected></option>
                                                                        <option class="col-auto px-0" selected [value]=0>Sin Competencia</option>
                                                                        <option class="col-auto px-0" *ngFor="let compe of competencia | filterCompetencia: nombreCompetenciaSelected:materiaSelectedA:gradoSelectedA"
                                                                            [value]="compe.id_competencia">{{(compe.nombre_competencia)}}
                                                                        </option>
                                                                    </select>
                                                                    <!--el valor seleccionado es {{competenciaSelectedA}}-->
                                                                </div>
                                                            </div>
                                                            <!--Tabla de Resultados-->
                                                            <label for="inputState" class="text-white">Resultados:</label>
                                                            <div class="col container p-4 my bg-light rounded table-wrapper-scroll-y my-custom-scrollbar"
                                                                style="width: 95%; height: 450px">
                                                                <!--Resultado-->
                                                                <div class="row-1"
                                                                    *ngFor="let actividad of actividadVisualizar | filterActividad: nombreActividadSelected:materiaSelectedA:gradoSelectedA:docenteSelectedA:competenciaSelectedA">
                                                                    <div class="card mb-4 border-0" style="max-width: 1440px;">
                                                                        <div class="card-footer p-2 bg-warning rounded-top">
                                                                            <h5 class="card-title m-1">{{actividad.titulo_actividad}}</h5>
                                                                        </div>
                                                                        <div class="row no-gutters border border-top-0 border-secondary">
                                                                            <div class="col" style="max-width: 840px;">
                                                                                <div class="card-body p-2">
                                                                                    <p class="card-text ">Descripcion: {{actividad.descripcion_actividad}}.</p>
                                                                                    <div>
                                                                                        <p class="card-text"><small class="text-muted">Materia: {{actividad.materia}}</small></p>
                                                                                    </div>
                                                                                    <div>
                                                                                        <p class="card-text"><small class="text-muted">Grado: {{actividad.id_grado}}</small></p>
                                                                                    </div>
                                                                                    <div>
                                                                                        <p class="card-text"><small class="text-muted">Competencia: {{actividad.competencia}}</small></p>
                                                                                    </div>
                                                                                    <div>
                                                                                        <p class="card-text"><small class="text-muted">Profesor: {{actividad.docente}}</small></p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--Boton ver Actividad-->
                                                                        <div class="card-footer bg-secondary row justify-content-md-center no-gutters p-1">
                                                                            <a class="btn bg-warning" data-toggle="modal" data-target="#mimodalejemplo"
                                                                                (click)="getActividadinModal(actividad)">Ver</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <!--Tab 2-->
                                        <div class="tab-pane fade" id="nav-Pregunta2CON" role="tabpanel" aria-labelledby="nav-Pregunta2CON-tab">
                                            <div class="form-group">
                                                <h4 style="cursor:context-menu" class="pb-1 pt-3 text-center text-white font-weight-bold">Contenidos</h4>
                                                <!--Buscar Contenido-->
                                                <div>
                                                    <div class="contenedor py-3">
                                                        <form #frmBuscarContenido="ngForm" (ngSubmit)="saveDataContent(frmBuscarContenido)">
                                                            <div class="form-group">
                                                                <!--Barra busqueda-->
                                                                <br>
                                                                <div class="form-inline">
                                                                    <input type="text" class="form-control col-md-8" id="inputTextoBusqueda"
                                                                        placeholder="Busqueda por nombre" [(ngModel)]="nombreCREASelected"
                                                                        name="inputBusquedaContenido">
                                                                </div>
                                                            </div>
                                                            <label for="inputState" class="text-white">Filtros:</label>
                                                            <div class="form-row pb-3">
                                                                <!--Filtros-->
                                                                <div class="form-group col">
                                                                    <label for="inputMateria" class="text-white">Materia</label>
                                                                    <select [(ngModel)]="materiaSelected" id="inputMateria" name="materia" class="form-control"
                                                                        ngModel required>
                                                                        <option selected></option>
                                                                        <option *ngFor="let mater of materia" [value]="mater.nombre_materia">
                                                                            {{mater.nombre_materia}}</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col">
                                                                    <label for="inputGrado" class="text-white">Grado</label>
                                                                    <select [(ngModel)]="gradoSelected" id="inputGrado" name="grado" class="form-control"
                                                                        ngModel required>
                                                                        <option selected></option>
                                                                        <option *ngFor="let grad of grado" [value]="grad.id_grado">{{grad.nombre_grado}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col">
                                                                    <label for="inputDocente" class="text-white">Profesor</label>
                                                                    <select [(ngModel)]="docenteSelected" id="inputDocente" name="Docente" class="form-control" ngModel required>
                                                                        <option selected></option>
                                                                        <option *ngFor="let docen of docente" [value]="docen.id_docente">{{(docen.nombre_docente+" "+docen.apellido_docente)}}</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col">
                                                                    <label for="inputType" class="text-white">Tipo de Contenido</label>
                                                                    <select [(ngModel)]="tipoContenidoSelected" id="inputType" name="tipoContenido" class="form-control" ngModel required>
                                                                        <option selected></option>
                                                                        <option *ngFor="let tipCon of tipoContenido" [value]="tipCon.id_tipoContenido">{{tipCon.nombre_tipoContenido}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <!--Tabla de Resultados-->
                                                            <label for="inputState" class="text-white">Resultados:</label>
                                                            <div class="col container p-4 my bg-light rounded table-wrapper-scroll-y my-custom-scrollbar"
                                                                style="width: 95%; height: 450px">
                                                                <!--Resultado-->
                                                                <div class="row-1"
                                                                    *ngFor="let contenidoREA of contenidoVisualizar | filterContent: nombreCREASelected:materiaSelected:gradoSelected:docenteSelected:tipoContenidoSelected">
                                                                    <div class="card mb-4 border-0" style="max-width: 1440px;">
                                                                        <div class="card-footer p-2 bg-primary rounded-top">
                                                                            <h5 class="card-title m-1">{{contenidoREA.nombre_CREA}}</h5>
                                                                        </div>
                                                                        <div class="row no-gutters border border-top-0 border-secondary">
                                                                            <div class="col" style="max-width: 840px;">
                                                                                <div class="card-body p-2">
                                                                                    <p class="card-text ">Descripcion: {{contenidoREA.descripcion_CREA}}.</p>
                                                                                    <div>
                                                                                        <p class="card-text"><small class="text-muted">Materia:
                                                                                                {{contenidoREA.materia}}</small></p>
                                                                                    </div>
                                                                                    <div>
                                                                                        <p class="card-text"><small class="text-muted">Grado:
                                                                                                {{contenidoREA.id_grado}}</small></p>
                                                                                    </div>
                                                                                    <div>
                                                                                        <p class="card-text"><small class="text-muted">Tipo de contenido:
                                                                                                {{contenidoREA.nombre_tipo_CREA}}</small></p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--Boton ver Contenido-->
                                                                        <div class="card-footer bg-secondary row justify-content-md-center no-gutters p-1">
                                                                            <a class="btn btn-primary" (click)="verContenido(contenidoREA)">Ver</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr class="style3">
        <br>
    </div>

    <!-- Modal Actividad Seleccionada -->
    <div class="modal fade col" id="mimodalejemplo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content ">
                <div class="modal-header bg-light">
                    <h4 class="modal-title text-center my-0" id="myModalLabel">Actividad Seleccionada</h4>
                    <button class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div>
                            <h3 style="cursor:context-menu" class="text-center bg-warning py-4">{{ActividadService.selectedActividad.titulo_actividad}}</h3>
                        </div>
                        <div class="row-1">
                            <div class="card mb-4 border-0" style="max-width: 1440px;">
                                <div class="row no-gutters">
                                    <div class="col-md-10" style="max-width: 840px;">
                                        <div class="card-body p-2">
                                            <div>
                                                <h5 class="">Descripcion: {{ActividadService.selectedActividad.descripcion_actividad}}</h5>
                                            </div>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Materia: {{ActividadService.selectedActividad.materia}}</small></p>
                                            </div>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Grado: {{ActividadService.selectedActividad.id_grado}}</small></p>
                                            </div>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Competencia: {{ActividadService.selectedActividad.competencia}}</small></p>
                                            </div>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Profesor: {{ActividadService.selectedActividad.docente}}</small></p>
                                            </div>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Autor: {{ActividadService.selectedActividad.autor}}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="style1b">

                        <!--Contenido Actividad-->
                        <div>
                            <h5 style="cursor:context-menu" class="">Contenido:</h5>
                        </div>
                        <div class="row-1">
                            <div class="card mb-4 border-0" style="max-width: 1440px;">
                                <div class="card-footer p-2 bg-primary rounded-top">
                                    <h5 style="cursor:context-menu" class="card-title m-1">{{contenidoAct.nombre_CREA}}</h5>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-md-10" style="max-width: 840px;">
                                        <div class="card-body p-2">
                                            <p class="card-text m-1">Descripcion: {{contenidoAct.descripcion_CREA}}</p>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Materia: {{contenidoAct.materia}}</small></p>
                                            </div>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Grado: {{contenidoAct.id_grado}}</small></p>
                                            </div>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Tipo de contenido:
                                                        {{contenidoAct.nombre_tipo_CREA}}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Boton ver Contenido-->
                                <div class="card-footer bg-secondary row justify-content-md-center no-gutters p-1">
                                    <a class="btn btn-primary" (click)="verContenidoActividad()">Ver</a>
                                </div>
                            </div>
                        </div>
                        <hr class="style1b">

                        <!--Quiz del contenido-->
                        <div>
                            <h5 style="cursor:context-menu" class="">Quiz del contenido:</h5>
                        </div>
                        <div class="contenedor py-3">
                            <div class="">
                                <label>Descripcion: {{ActividadService.selectedActividad.descripcion_test}}</label>
                            </div>
                            <div class="container">
                                <!--Tabs-->
                                <div class="row">
                                    <div class="col">
                                        <div class="card mt-3 tab-card">
                                            <div class="card-header tab-card-header bg-light">
                                                <!--Opcion Tab-->
                                                <nav>
                                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                        <a class="col nav-item nav-link text-center active" id="nav-Pregunta1-tab" data-toggle="tab" href="#nav-Pregunta1" role="tab"
                                                            aria-controls="nav-Pregunta1" aria-selected="true">Pregunta 1</a>
                                                        <a class="col nav-item nav-link text-center" id="nav-Pregunta2-tab" data-toggle="tab" href="#nav-Pregunta2" role="tab"
                                                            aria-controls="nav-Pregunta2" aria-selected="false">Pregunta 2</a>
                                                        <a class="col nav-item nav-link text-center" id="nav-Pregunta3-tab" data-toggle="tab" href="#nav-Pregunta3" role="tab"
                                                            aria-controls="nav-Pregunta3" aria-selected="false">Pregunta 3</a>
                                                    </div>
                                                </nav>

                                                <!--Tabs Resultados-->
                                                <div class="tab-content" id="nav-tabContent">
                                                    <br>
                                                    <!--Tab 1-->
                                                    <div class="tab-pane fade show active" id="nav-Pregunta1" role="tabpanel" aria-labelledby="nav-Pregunta1-tab">
                                                        <div class="form-group">
                                                            <h5 class="py-1 text-center text-dark">Pregunta 1</h5>
                                                            <div class="">
                                                                <label class="">Pregunta: {{ActividadService.selectedActividad.Q1}}</label>
                                                            </div>
                                                        </div>
                                                        <label class="text-dark">Posibles Respuestas:</label>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">A) {{ActividadService.selectedActividad.A11}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">B) {{ActividadService.selectedActividad.A12}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">C) {{ActividadService.selectedActividad.A13}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">D) {{ActividadService.selectedActividad.A14}}</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Tab 2-->
                                                    <div class="tab-pane fade" id="nav-Pregunta2" role="tabpanel" aria-labelledby="nav-Pregunta2-tab">
                                                        <div class="form-group">
                                                            <h5 class="py-1 text-center text-dark">Pregunta 2</h5>
                                                            <div class="">
                                                                <label class="">Pregunta: {{ActividadService.selectedActividad.Q2}}</label>
                                                            </div>
                                                        </div>
                                                        <label class="text-dark">Posibles Respuestas:</label>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">A) {{ActividadService.selectedActividad.A21}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">B) {{ActividadService.selectedActividad.A22}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">C) {{ActividadService.selectedActividad.A23}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">D) {{ActividadService.selectedActividad.A24}}</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Tab 3-->
                                                    <div class="tab-pane fade" id="nav-Pregunta3" role="tabpanel" aria-labelledby="nav-Pregunta3-tab">
                                                        <div class="form-group">
                                                            <h5 class="py-1 text-center text-dark">Pregunta 3</h5>
                                                            <div class="">
                                                                <label class="">Pregunta: {{ActividadService.selectedActividad.Q3}}</label>
                                                            </div>
                                                        </div>
                                                        <label class="text-dark">Posibles Respuestas:</label>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">A) {{ActividadService.selectedActividad.A31}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">B) {{ActividadService.selectedActividad.A32}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">C) {{ActividadService.selectedActividad.A33}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">D) {{ActividadService.selectedActividad.A34}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="style1b">

                        <!--Taller Actividad-->
                        <div>
                            <h5 style="cursor:context-menu" class="">Taller:</h5>
                        </div>
                        <div class="row-1">
                            <div class="card mb-4 border-0" style="max-width: 1440px;">
                                <div class="card-footer p-2 bg-primary rounded-top">
                                    <h5 style="cursor:context-menu" class="card-title m-1">{{tallerAct.nombre_CREA}}</h5>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-md-10" style="max-width: 840px;">
                                        <div class="card-body p-2">
                                            <p class="card-text ">Descripcion: {{tallerAct.descripcion_CREA}}</p>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Materia: {{tallerAct.materia}}</small></p>
                                            </div>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Grado: {{tallerAct.id_grado}}</small></p>
                                            </div>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Tipo de contenido:
                                                        {{tallerAct.nombre_tipo_CREA}}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Boton ver Taller-->
                                <div class="card-footer bg-secondary row justify-content-md-center no-gutters p-1">
                                    <a class="btn btn-primary" (click)="verTallerActividad()">Ver</a>
                                </div>
                            </div> 
                        </div>
                        <hr class="style1b">

                        <!--Evaluacion del contenido-->
                        <div>
                            <h5 style="cursor:context-menu" class="">Evaluacion:</h5>
                        </div>
                        <div class="contenedor py-3">
                            <div class="">
                                <label>Descripcion: {{ActividadService.selectedActividad.descripcion_evaluacion}}</label>
                            </div>
                            <div class="container">
                                <!--Tabs-->
                                <div class="row">
                                    <div class="col">
                                        <div class="card mt-3 tab-card">
                                            <div class="card-header tab-card-header bg-light">
                                                <!--Opcion Tab-->
                                                <nav>
                                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                        <a class="col nav-item nav-link text-center active" id="nav-Pregunta1E-tab"
                                                            data-toggle="tab" href="#nav-Pregunta1E" role="tab" aria-controls="nav-Pregunta1E"
                                                            aria-selected="true">Pregunta 1</a>
                                                        <a class="col nav-item nav-link text-center" id="nav-Pregunta2E-tab" data-toggle="tab"
                                                            href="#nav-Pregunta2E" role="tab" aria-controls="nav-Pregunta2E"
                                                            aria-selected="false">Pregunta 2</a>
                                                        <a class="col nav-item nav-link text-center" id="nav-Pregunta3E-tab" data-toggle="tab"
                                                            href="#nav-Pregunta3E" role="tab" aria-controls="nav-Pregunta3E"
                                                            aria-selected="false">Pregunta 3</a>
                                                    </div>
                                                </nav>
                        
                                                <!--Tabs Resultados-->
                                                <div class="tab-content" id="nav-tabContent">
                                                    <br>
                                                    <!--Tab 1-->
                                                    <div class="tab-pane fade show active" id="nav-Pregunta1E" role="tabpanel" aria-labelledby="nav-Pregunta1E-tab">
                                                        <div class="form-group">
                                                            <h5 class="py-1 text-center text-dark">Pregunta 1</h5>
                                                            <div class="">
                                                                <label class="">Pregunta: {{ActividadService.selectedActividad.EQ1}}</label>
                                                            </div>
                                                        </div>
                                                        <label class="text-dark">Posibles Respuestas:</label>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">A) {{ActividadService.selectedActividad.EA11}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">B) {{ActividadService.selectedActividad.EA12}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">C) {{ActividadService.selectedActividad.EA13}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">D) {{ActividadService.selectedActividad.EA14}}</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Tab 2-->
                                                    <div class="tab-pane fade" id="nav-Pregunta2E" role="tabpanel" aria-labelledby="nav-Pregunta2E-tab">
                                                        <div class="form-group">
                                                            <h5 class="py-1 text-center text-dark">Pregunta 2</h5>
                                                            <div class="">
                                                                <label class="">Pregunta: {{ActividadService.selectedActividad.EQ2}}</label>
                                                            </div>
                                                        </div>
                                                        <label class="text-dark">Posibles Respuestas:</label>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">A) {{ActividadService.selectedActividad.EA21}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">B) {{ActividadService.selectedActividad.EA22}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">C) {{ActividadService.selectedActividad.EA23}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">D) {{ActividadService.selectedActividad.EA24}}</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Tab 3-->
                                                    <div class="tab-pane fade" id="nav-Pregunta3E" role="tabpanel" aria-labelledby="nav-Pregunta3E-tab">
                                                        <div class="form-group">
                                                            <h5 class="py-1 text-center text-dark">Pregunta 3</h5>
                                                            <div class="">
                                                                <label class="">Pregunta: {{ActividadService.selectedActividad.EQ3}}</label>
                                                            </div>
                                                        </div>
                                                        <label class="text-dark">Posibles Respuestas:</label>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">A) {{ActividadService.selectedActividad.EA31}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">B) {{ActividadService.selectedActividad.EA32}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">C) {{ActividadService.selectedActividad.EA33}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="pl-5">
                                                                <label class="">D) {{ActividadService.selectedActividad.EA34}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="style1b">

                    </div>  
                </div>
                <div class="modal-footer justify-content-md-center no-gutters bg-light">
                    <button class="btn btn-default bg-warning font-weight-bold" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>

