<app-header-admin></app-header-admin>

<!--Contenedor Contenido Pagina-->
<div class="mb-5 col-9 mx-auto">

    <!--Titulo pagina-->
    <div class="container m-auto pb-2 bg-success rounded-top">
        <h1 class="mt-5 pt-4 text-center m ">Gestionar Usuarios</h1>
    </div>
    
    <!--Contenedor Formularios-->
    <div class="container pt-1 bg-secondary rounded-bottom">
    
        <!--Tabs-->
        <div class="row">
            <div class="col">
                <div class="mt-3">
                    <div class="card-header tab-card-header">
                        <!--Opcion Tab-->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="col nav-item nav-link text-center active font-weight-bold text-dark" id="nav-Pregunta1-tab" data-toggle="tab"
                                    href="#nav-Pregunta1" role="tab" aria-controls="nav-Pregunta1" aria-selected="true">Docentes</a>
                                <a class="col nav-item nav-link text-center font-weight-bold text-dark" id="nav-Pregunta2-tab" data-toggle="tab"
                                    href="#nav-Pregunta2" role="tab" aria-controls="nav-Pregunta2" aria-selected="false">Estudiantes</a>
                            </div>
                        </nav>
        
                        <!--Tabs Resultados-->
                        <div class="tab-content" id="nav-tabContent">
                            <br>

                            <!--Tab 1-->
                            <div class="tab-pane fade show active" id="nav-Pregunta1" role="tabpanel" aria-labelledby="nav-Pregunta1-tab">
                                <!--Gestion de Competencias-->
                                <div>
                                    <h3 class="py-3 text-center text-white">Docentes</h3>
                            
                                    <div class="contenedor mx-3 py-3">
                                        <form #frmBuscarDocente="ngForm">
                            
                                            <!--Buscar-->
                                            <h5 class="py-3 text-white">Buscador:</h5>
                                            <div class="form-group">
                                                <input type="text" class="form-control col-md-8" id="inputTextoBusquedaDocente" placeholder="Nombre / Apellido / Usuario / Correo" [(ngModel)]="palabraClaveDSelected"
                                                    name="palabraClaveDSelected">
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-4">
                                                    <label for="inputColegioD" class="text-white">Colegio</label>
                                                    <select [(ngModel)]="colegioDSelected" name="colegioDSelected" id="inputColegioD" class="form-control" ngModel required>
                                                        <option selected></option>
                                                        <option *ngFor="let colegio of colegios" [value]="colegio.id_colegio">{{colegio.nombre_colegio}}</option>
                                                    </select>
                                                </div>
                                            </div>
                            
                                            <!--Resultados-->
                                            <h5 class="py-3 text-white">Resultados:</h5>
                                            <div class="col container p-4 my bg-light rounded table-wrapper-scroll-y my-custom-scrollbar bg-light" style="width: 95%; height: 450px">
                                                <!--Resultado-->
                                                <div class="row-1" *ngFor="let docente of docenteVisualizar | filterDocenteAdmin: palabraClaveDSelected:colegioDSelected">
                                                    <div class="card mb-4 border-0" style="max-width: 1440px;">
                                                        <div class="row no-gutters border border-secondary">
                                                            <div class="col" style="max-width: 840px;">
                                                                <div class="card-body p-2">
                                                                    <p class="card-text ">Nombre Docente: {{docente.nombre_docente}} {{docente.apellido_docente}}</p>
                                                                    <div>
                                                                        <p class="card-text"><small class="text-muted">Colegio: {{docente.colegio}}</small></p>
                                                                    </div>
                                                                    <div>
                                                                        <p class="card-text"><small class="text-muted">Nombre Usuario: {{docente.nombre_usuario}}</small></p>
                                                                    </div>
                                                                    <div>
                                                                        <p class="card-text"><small class="text-muted">Correo Electronico: {{docente.correo_electronico}}</small></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Boton Editar y Borrar-->
                                                        <div class="card-footer bg-secondary row justify-content-md-center no-gutters p-1">
                                                            <div>
                                                                <a class="btn bg-warning mr-2" data-toggle="modal" data-target="#mimodalejemplo5"
                                                                    (click)="getDocenteinForm(docente)">Editar</a>
                                                            </div>
                                                            <div>
                                                                <a class="btn bg-warning ml-2" data-toggle="modal" data-target="#mimodalejemplo2"
                                                                    (click)="saveDataDocente(docente)">Borrar</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <br>
                                    </div>
                            
                                    <div class="contenedor py-3">
                                        <form #frmInfoDocente="ngForm">
                                            <h5 class="py-3 text-white text-center">Actualizar Información:</h5>
                                            <div class="col-5 mx-auto">
                                                <div class="form-group col">
                                                    <div class="form-group">
                                                        <label for="inputNombreDocente" class="text-white ">Nombre Profesor</label>
                                                        <input type="text" name="nombre_docente" class="form-control col" id="inputNombreDocente" placeholder="Nombre" required
                                                            [(ngModel)]="this.AuthAdminService.selectedDocente.nombre_docente">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputApellidoProfesor" class="text-white ">Apellido Profesor</label>
                                                        <input type="text" name="apellido_docente" class="form-control col" id="inputApellidoProfesor" placeholder="Apellido" required
                                                            [(ngModel)]="this.AuthAdminService.selectedDocente.apellido_docente">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputCorreo" class="text-white ">Correo Electronico</label>
                                                        <input type="text" name="correo_electronico" class="form-control col" id="inputCorreo" placeholder="Correo Electronico" required
                                                            [(ngModel)]="this.AuthAdminService.selectedDocente.correo_electronico">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputNombreUsuario" class="text-white ">Nombre Usuario</label>
                                                        <input type="text" name="nombre_usuario" class="form-control col" id="inputNombreUsuario" placeholder="Usuario" required
                                                            [(ngModel)]="this.AuthAdminService.selectedDocente.nombre_usuario">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputContrasenaD" class="text-white ">Contraseña</label>
                                                        <input type="text" name="contrasena" class="form-control col" id="inputContrasenaD" placeholder="Contraseña" required
                                                            [(ngModel)]="this.AuthAdminService.selectedDocente.contrasena">
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                            
                                            <!--Boton Actualizar Docente-->
                                            <div class="row">
                                                <div class="mr-2 ml-auto pb-4 justify-content-md-center no-gutters">
                                                    <a class="btn bg-success px-5 py-4 font-weight-bold" data-toggle="modal" data-target="#mimodalejemplo" 
                                                        (click)="actualizarDocente(frmInfoDocente)">Actualizar</a>
                                                </div>
                                                <div class="ml-2 mr-auto pb-4 justify-content-md-center no-gutters">
                                                    <a class="btn bg-success px-5 py-4 font-weight-bold"
                                                        (click)="resetForm(frmInfoDocente)">Limpiar</a>
                                                </div>
                                            </div>
                                        </form>
                                        <hr class="style8">
                                    </div>
                                </div>
                            </div>

                            <!--Tab 2-->
                            <div class="tab-pane fade" id="nav-Pregunta2" role="tabpanel" aria-labelledby="nav-Pregunta2-tab">
                                <!--Gestion de Estudiantes-->
                                <div>
                                    <h3 class="py-3 text-center text-white">Estudiantes</h3>
                                    <div class="contenedor mx-3 py-3">
                                        <form #frmBuscarEstudiante="ngForm">
                            
                                            <!--Buscar Estudiante-->
                                            <h5 class="py-3 text-white">Buscador:</h5>
                                            <div class="form-group">
                                                <input type="text" class="form-control col-md-8" id="inputTextoBusquedaEstudiante" placeholder="Nombre / Apellido / Usuario / Correo" [(ngModel)]="palabraClaveESelected"
                                                    name="palabraClaveESelected">
                                            </div>
                                            <div class="row">
                                                <div class="form-group col">
                                                    <label for="inputGrado" class="text-white">Grado</label>
                                                    <select [(ngModel)]="gradoSelected" name="gradoSelected" id="inputgrado" class="form-control" ngModel required>
                                                        <option selected></option>
                                                        <option *ngFor="let grad of grados" [value]="grad.id_grado">{{grad.nombre_grado}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col">
                                                    <label for="inputCurso" class="text-white">Curso</label>
                                                    <select [(ngModel)]="cursoSelected" name="cursoSelected" id="inputCurso" class="form-control" ngModel required>
                                                        <option selected></option>
                                                        <option *ngFor="let curso of cursos" [value]="curso.id_curso">{{curso.nombre_curso}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col">
                                                    <label for="inputColegioE" class="text-white">Colegio</label>
                                                    <select [(ngModel)]="colegioESelected" name="colegioESelected" id="inputColegioE" class="form-control" ngModel required>
                                                        <option selected></option>
                                                        <option *ngFor="let colegio of colegios" [value]="colegio.id_colegio">{{colegio.nombre_colegio}}</option>
                                                    </select>
                                                </div>
                                            </div>
                            
                                            <!--Resultados-->
                                            <h5 class="py-3 text-white">Resultados:</h5>
                                            <div class="col container p-4 my bg-light rounded table-wrapper-scroll-y my-custom-scrollbar"
                                                style="width: 95%; height: 450px">
                                                <!--Resultado-->
                                                <div class="row-1" *ngFor="let estudiante of estudiantesVisualizar | filterEstudiantesAdmin: palabraClaveESelected:gradoSelected:cursoSelected:colegioESelected">
                                                    <div class="card mb-4 border-0" style="max-width: 1440px;">
                                                        <div class="row no-gutters border border-secondary">
                                                            <div class="col" style="max-width: 840px;">
                                                                <div class="card-body p-2">
                                                                    <p class="card-text ">Nombre Estudiante: {{estudiante.nombre_estudiante}} {{estudiante.apellido_estudiante}}</p>
                                                                    <div>
                                                                        <p class="card-text"><small class="text-muted">Grado: {{estudiante.grado_estudiante}}</small></p>
                                                                    </div>
                                                                    <div>
                                                                        <p class="card-text"><small class="text-muted">Curso: {{estudiante.curso}}</small></p>
                                                                    </div>
                                                                    <div>
                                                                        <p class="card-text"><small class="text-muted">Colegio: {{estudiante.colegio}}</small></p>
                                                                    </div>
                                                                    <div>
                                                                        <p class="card-text"><small class="text-muted">Nombre Usuario: {{estudiante.nombre_usuario}}</small></p>
                                                                    </div>
                                                                    <div>
                                                                        <p class="card-text"><small class="text-muted">Correo Electronico: {{estudiante.correo_electronico}}</small></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Boton Editar y Borrar-->
                                                        <div class="card-footer bg-secondary row justify-content-md-center no-gutters p-1">
                                                            <a class="btn bg-warning mr-2" data-toggle="modal" data-target="#mimodalejemplo6"
                                                                (click)="getEstudianteinForm(estudiante)">Editar</a>
                                                            <a class="btn bg-warning ml-2" data-toggle="modal" data-target="#mimodalejemplo3"
                                                                (click)="saveDataEstudiante(estudiante)">Borrar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <br>
                                    </div>
                            
                                    <div class="contenedor py-3">
                                        <form #frmInfoEstudiante="ngForm">
                                            <h5 class="py-3 text-white text-center">Actualizar Información:</h5>
                                            <div class="col-5 mx-auto">
                                                <div class="form-group col">
                                                    <div class="form-group">
                                                        <label for="inputNombreEstudiante" class="text-white ">Nombre Estudiante</label>
                                                        <input type="text" name="nombre_estudiante" class="form-control col" id="inputNombreEstudiante" placeholder="Nombre" required
                                                            [(ngModel)]="this.AuthAdminService.selectedEstudiante.nombre_estudiante">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputApellidoEstudiante" class="text-white ">Apellido Estudiante</label>
                                                        <input type="text" name="apellido_estudiante" class="form-control col" id="inputApellidoEstudiante" placeholder="Apellido" required
                                                            [(ngModel)]="this.AuthAdminService.selectedEstudiante.apellido_estudiante">
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col">
                                                            <label for="inputGradoEstudiante" class="text-white">Grado</label>
                                                            <select [(ngModel)]="this.AuthAdminService.selectedEstudiante.grado_estudiante" name="grado_estudiante" id="inputGradoEstudiante" class="form-control" ngModel required>
                                                                <option selected></option>
                                                                <option *ngFor="let grad of grados" [value]="grad.id_grado">{{grad.nombre_grado}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col">
                                                            <label for="inputCursoEstudiante" class="text-white">Curso</label>
                                                            <select [(ngModel)]="this.AuthAdminService.selectedEstudiante.curso_estudiante" name="curso_estudiante" id="inputCursoEstudiante" class="form-control" ngModel required>
                                                                <option selected></option>
                                                                <option *ngFor="let curso of cursos" [value]="curso.id_curso">{{curso.nombre_curso}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputCorreoEstudiante" class="text-white ">Correo Electronico</label>
                                                        <input type="text" name="correo_electronico" class="form-control col" id="inputCorreoEstudiante" placeholder="Correo Electronico" required
                                                            [(ngModel)]="this.AuthAdminService.selectedEstudiante.correo_electronico">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputNombreUsuarioEstudiante" class="text-white ">Nombre Usuario</label>
                                                        <input type="text" name="nombre_usuario" class="form-control col" id="inputNombreUsuarioEstudiante" placeholder="Usuario" required
                                                            [(ngModel)]="this.AuthAdminService.selectedEstudiante.nombre_usuario">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputContrasenaEstudiante" class="text-white ">Contraseña</label>
                                                        <input type="text" name="contrasena" class="form-control col" id="inputContrasenaEstudiante" placeholder="Contraseña" required
                                                            [(ngModel)]="this.AuthAdminService.selectedEstudiante.contrasena">
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                            
                                            <!--Boton Actualizar Estudiante-->
                                            <div class="row">
                                                <div class="mr-2 ml-auto pb-4 justify-content-md-center no-gutters">
                                                    <a class="btn bg-success px-5 py-4 font-weight-bold" data-toggle="modal" data-target="#mimodalejemplo4"
                                                        (click)="actualizarEstudiante(frmInfoEstudiante)">Actualizar</a>
                                                </div>
                                                <div class="ml-2 mr-auto pb-4 justify-content-md-center no-gutters">
                                                    <a class="btn bg-success px-5 py-4 font-weight-bold"
                                                        (click)="resetForm(frmInfoEstudiante)">Limpiar</a>
                                                </div>
                                            </div>
                                        </form>
                                        <hr class="style8">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Datos Docente Actualizados -->
    <div class="modal fade" id="mimodalejemplo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="myModalLabel">Mensaje</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-info" *ngIf="error1 == false">
                    Se han Actualizado los datos del Docente.
                </div>
                <div class="modal-body text-danger" *ngIf="error1 == true">
                    No ha seleccionado un Docente para Actualizar.
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Datos Estudiante Actualizados -->
    <div class="modal fade" id="mimodalejemplo4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="myModalLabel">Mensaje</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-info" *ngIf="error2 == false">
                    Se han Actualizado los datos del Estudiante.
                </div>
                <div class="modal-body text-danger" *ngIf="error2 == true">
                    No ha seleccionado un Estudiante para Actualizar.
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Confirmar Borrar Docente -->
    <div class="modal fade" id="mimodalejemplo2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="myModalLabel">Confirmar Accion</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Para borrar al Docente presione aceptar, de lo contrario presione X
                    para cancelar.
                </div>
                <div class="modal-footer justify-content-md-center no-gutters py-1 bg-light">
                    <button class="btn btn-default bg-warning font-weight-bold" data-dismiss="modal" (click)="deleteDocente()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Comfirmar Borrar Estudiante -->
    <div class="modal fade" id="mimodalejemplo3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="myModalLabel">Confirmar Acción</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Para borrar al Estudiante presione aceptar, de lo contrario presione X
                    para cancelar.
                </div>
                <div class="modal-footer justify-content-md-center no-gutters py-1 bg-light">
                    <button class="btn btn-default bg-warning font-weight-bold" data-dismiss="modal" (click)="deleteEstudiante()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Confirmacion Docente Seleccionado -->
    <div class="modal fade" id="mimodalejemplo5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="myModalLabel">Mensaje</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Ha sido seleccionado un Docente. Los datos han sido cargados para revisar y modificar.
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Confirmacion Estudiante Seleccionado -->
    <div class="modal fade" id="mimodalejemplo6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="myModalLabel">Mensaje</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Ha sido seleccionado un Estudiante. Los datos han sido cargados para revisar y modificar.
                </div>
            </div>
        </div>
    </div>
</div>
