<app-header></app-header>

<!--Contenedor Contenido Pagina-->
<div class="contenedor pb-5">

    <div class="container">
    
        <!-- Titulo Pagina Principal -->
        <div class="container m-auto pb-2 bg-info rounded-top">
            <h1 style="cursor:context-menu" class="mt-5 pt-4 text-center">Bienvenido a la Plataforma</h1>
        </div>
    
        <!--Contenedor-->
        <div class="container pt-1 bg-secondary rounded-bottom">
    
            <!--Parrafo de Informacion-->
            <div>
                <div class="contenedor pt-4">
                    <img src="assets/img/logoA.png" class="row mx-auto" alt="Logo">
                    <h3 style="cursor:context-menu" class="text-light text-center pt-4">Hola Profesor {{nombreApellidoDocente}}</h3>
                    <h6 class="text-light pt-3 px-5 text-center">El Modelo de Aula Invertida o Flipped Classroom en ingles; es muy importante
                        para que tu clase sea mas interactiva, participativa y colaborativa. Con el fin de ayudarte a que
                        tus estudiantes aprendan y afiancen los temas, te brindamos diferentes herramientas para que lo logres.
                    </h6>
                    <h6 class="text-light pt-3 px-5 text-center">Recuerda: "La educación no es llenar un cubo, sino encender un fuego" — William Butler Yeats
                    </h6>
                </div>
            </div>
            <hr class="style4 pb-3">
        </div>
    </div>

</div>
<!-- /.container -->

