<app-header></app-header>

<!--Contenedor Contenido Pagina-->
<div class="mb-5 container py-3">

    <!-- Metricas -->
    <div class="container m-auto pb-2 bg-success rounded-top">
        <h1 style="cursor:context-menu" class="mt-5 pt-4 text-center">Metricas</h1>
    </div>
    <!--Contenedor busqueda-->
    <div class="container pt-1 bg-secondary rounded-bottom">
        <div>
            <div class="contenedor py-3">
                <form>
                    <div class="tab-pane fade show active" id="nav-Pregunta1ACT" role="tabpanel" aria-labelledby="nav-Pregunta1ACT-tab">
                        <div class="form-group">
                            <h4 style="cursor:context-menu" class="pb-1 pt-3 text-center text-white font-weight-bold">Buscar Actividades</h4>
                            <!--Buscar Actividad-->
                            <div>
                                <div class="contenedor py-3">
                                    <form #frmBuscarActividad="ngForm" (ngSubmit)="saveDataActividad(frmBuscarActvidad)">
                                        <div class="form-group">
                                            <!--Barra busqueda-->
                                            <br>
                                            <div class="form-inline">
                                                <input type="text" class="form-control col-md-8" id="inputTextoBusquedaActividad"
                                                    placeholder="Busqueda por nombre de la Actividad" [(ngModel)]="nombreActividadSelected"
                                                    name="nombreActividadSelected">
                                            </div>
                                        </div>
                                        <label for="inputState" class="text-white">Filtros:</label>
                                        <div class="form-row pb-3">
                                            <!--Filtros-->
                                            <div class="form-group col-3">
                                                <label for="inputMateriaA" class="text-white">Materia</label>
                                                <select [(ngModel)]="materiaSelectedA" id="inputMateriaA" name="materiaA"
                                                    class="form-control" ngModel required>
                                                    <option selected></option>
                                                    <option *ngFor="let mater of materias" [value]="mater.id_materia">
                                                        {{mater.nombre_materia}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-3">
                                                <label for="inputGradoA" class="text-white">Grado</label>
                                                <select [(ngModel)]="gradoSelectedA" id="inputGradoA" name="gradoA" class="form-control"
                                                    ngModel required>
                                                    <option selected></option>
                                                    <option *ngFor="let grad of grados" [value]="grad.id_grado">{{grad.nombre_grado}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Filtro Competencia-->
                                        <div class="form-group col px-0">
                                            <label for="inputDocenteA" class="text-white">Buscador Competencia</label>
                                            <input type="text" class="form-control col-5" id="inputTextoBusquedaCompetencia" placeholder="Ingrese palabra clave" [(ngModel)]="nombreCompetenciaSelected"
                                                name="inputBusquedaCompetencia">
                                        </div>
                                        <div class="form-row pb-3">
                                            <div class="form-group col">
                                                <label for="inputDocenteA" class="text-white">Competencia</label>
                                                <select [(ngModel)]="competenciaSelectedA" id="inputCompetenciaA" name="competenciaA" class="form-control" onfocus='if(this.options.length > 2){ this.size = 8; }' onblur='this.size=1;' onchange='this.size=1; this.blur();'ngModel required>
                                                    <option class="col-auto px-0" selected></option>
                                                    <option class="col-auto px-0" selected [value]=0>Sin Competencia</option>
                                                    <option class="col-auto px-0" *ngFor="let compe of competencias | filterCompetencia: nombreCompetenciaSelected:materiaSelectedA:gradoSelectedA"
                                                        [value]="compe.id_competencia">{{(compe.nombre_competencia)}}
                                                    </option>
                                                </select>
                                                <!--el valor seleccionado es {{competenciaSelectedA}}-->
                                            </div>
                                        </div>
                                        <!--Tabla de Resultados-->
                                        <label for="inputState" class="text-white">Resultados:</label>
                                        <div class="col container p-4 my bg-light rounded table-wrapper-scroll-y my-custom-scrollbar"
                                            style="width: 95%; height: 450px">
                                            <!--Resultado-->
                                            <div class="row-1"
                                                *ngFor="let actividad of actividadVisualizar | filterActividad: nombreActividadSelected:materiaSelectedA:gradoSelectedA:id_docenteAuth:competenciaSelectedA">
                                                <div class="card mb-4 border-0" style="max-width: 1440px;">
                                                    <div class="card-footer p-2 bg-warning rounded-top">
                                                        <h5 class="card-title m-1">{{actividad.titulo_actividad}}</h5>
                                                    </div>
                                                    <div class="row no-gutters border border-top-0 border-secondary">
                                                        <div class="col" style="max-width: 840px;">
                                                            <div class="card-body p-2">
                                                                <p class="card-text ">Descripcion: {{actividad.descripcion_actividad}}.</p>
                                                                <div>
                                                                    <p class="card-text"><small class="text-muted">Materia: {{actividad.materia}}</small></p>
                                                                </div>
                                                                <div>
                                                                    <p class="card-text"><small class="text-muted">Grado: {{actividad.id_grado}}</small></p>
                                                                </div>
                                                                <div>
                                                                    <p class="card-text"><small class="text-muted">Competencia: {{actividad.competencia}}</small></p>
                                                                </div>
                                                                <div>
                                                                    <p class="card-text"><small class="text-muted">Profesor: {{actividad.docente}}</small></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Boton ver Metricas Actividad-->
                                                    <div class="card-footer bg-secondary row justify-content-md-center no-gutters p-1">
                                                        <a class="btn bg-success font-weight-bold" data-toggle="modal" data-target="#mimodalejemplo" (click)="getActividadinModal(actividad)">Ver Metricas</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr class="style10">
        <br>
    </div>

    <!-- Modal Actividad Seleccionada -->
    <div class="modal fade col" id="mimodalejemplo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow-y: scroll;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content ">
                <div class="modal-header bg-light">
                    <h4 class="modal-title text-center my-0" id="myModalLabel">Actividad Seleccionada</h4>
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-light">
                    <div class="">
                        <div>
                            <h3 style="cursor:context-menu" class="text-center bg-warning py-4">{{ActividadService.selectedActividad.titulo_actividad}}</h3>
                        </div>
                        <div class="row-1">
                            <div class="card mb-4 border-0" style="max-width: 1440px;">
                                <div class="row no-gutters">
                                    <div class="col-md-10" style="max-width: 840px;">
                                        <div class="card-body p-2">
                                            <div>
                                                <h5 class="">Descripcion: {{ActividadService.selectedActividad.descripcion_actividad}}</h5>
                                            </div>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Materia: {{ActividadService.selectedActividad.materia}}</small>
                                                </p>
                                            </div>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Grado: {{ActividadService.selectedActividad.id_grado}}</small>
                                                </p>
                                            </div>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Competencia: {{ActividadService.selectedActividad.competencia}}</small></p>
                                            </div>
                                            <div>
                                                <p class="card-text"><small class="text-muted">Profesor: {{ActividadService.selectedActividad.docente}}</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="style10">

                        <!--Metricas Globales Actividad-->
                        <div>
                            <h5 style="cursor:context-menu" class="">Metricas Actividad:</h5>
                        </div>
                        <p class="card-text mb-1 ml-2">Estudiantes participando en la Actividad: {{metricasActividad.inicio}} </p>
                        <div class="row-1">
                            <div class="card mb-4 border-0" style="max-width: 1440px;">
                                <div class="row no-gutters ">
                                    <div class="col" style="max-width: 840px;">
                                        <div class="card-body p-2">
                                            <p class="card-text mb-1 ml-2">Acciones</p>
                                            <div>
                                                <a class="card-text"><small class="text-muted">Estudiantes que vieron el Contenido: </small></a>
                                                <a> {{metricasActividad.contenido}}</a>
                                            </div>
                                            <div>
                                                <a class="card-text"><small class="text-muted">Estudiantes que hicieron el Quiz: </small></a>
                                                <a> {{metricasActividad.quiz}}</a>
                                            </div>
                                            <div>
                                                <a class="card-text"><small class="text-muted">Estudiantes que hicieron el Taller: </small></a>
                                                <a> {{metricasActividad.taller}}</a>
                                            </div>
                                            <div>
                                                <a class="card-text"><small class="text-muted">Estudiantes que hicieron la Evaluación: </small></a>
                                                <a> {{metricasActividad.evaluacion}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col my-auto" style="max-width: 840px;">
                                        <div class="card-body p-2">
                                            <p class="card-text mb-1 ml-2">Notas</p>
                                            <div>
                                                <a class="card-text"><small class="text-muted">Promedio Nota Quiz de todos los estudiantes: </small></a>
                                                <a> {{metricasActividad.nota_quiz}}</a>
                                            </div>
                                            <div>
                                                <a class="card-text"><small class="text-muted">Promedio Nota Evaluacion de todos los estudiantes: </small></a>
                                                <a> {{metricasActividad.nota_evaluacion}}</a>
                                            </div>
                                            <div>
                                                <a class="card-text"><small class="text-muted">Promedio Nota Final de todos los estudiantes: </small></a>
                                                <a> {{metricasActividad.nota_final}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h5 style="cursor:context-menu" class="">Metricas Video:</h5>
                        </div>
                        <hr class="style10">
                        <div class="row-1">
                            <div class="card mb-4 border-0" style="max-width: 1440px;">
                                <div class="row no-gutters ">
                                    <div class="col" style="max-width: 840px;">
                                        <div class="card-body p-2">
                                            <div>
                                                <a class="card-text"><small class="text-muted">Contenido: </small></a>
                                                
                                            </div>
                                            <div>
                                                <a class="card-text"><small class="text-muted">Calidad: </small></a>
                                                
                                            </div>
                                            <div>
                                                <a class="card-text"><small class="text-muted">Diseño: </small></a>
                                               
                                            </div>
                                            <div>
                                                <a class="card-text"><small class="text-muted"> Motivación: </small></a>
                                                
                                            </div>
                                            <div>
                                                <a class="card-text"><small class="text-muted"> Sonido: </small></a>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="col my-auto" style="max-width: 840px;">
                                        <div class="card-body p-2" >
                                            <div *ngFor =" let cal of listQualification">
                                                <a class="card-text"><app-calificacion [calificacion]="cal.quantity"></app-calificacion></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Buscar Esdtudiante-->
                        <label class="pt-2">Buscador:</label>
                        <div class="form-group">
                            <input type="text" class="form-control col-md-8" id="inputTextoBusquedaEstudiante" placeholder="Nombre / Apellido" [(ngModel)]="palabraClaveESelected"
                                name="palabraClaveESelected">
                        </div>
                        <div class="form-group col-4">
                            <label for="inputOption" class="">Estudiantes que:</label>
                            <select [(ngModel)]="optionSelected" id="inputOption" name="optionSelected" class="form-control" ngModel required>
                                <option selected></option>
                                <option *ngFor="let option of options" style="overflow-y: scroll;" [value]="option.valor">{{option.opcion}}</option>
                            </select>
                        </div>

                        <!--Resultado Estudiantes-->
                        <div class="pt-4 row mx-auto">
                            <table class="mx-auto text-white m-auto rounded table-secondary table-striped table-wrapper-scroll-y my-custom-scrollbar"
                                style="height: 256px;">
                                <thead class="bg-secondary">
                                    <th class="pl-3 pr-5 py-2 text-white">Nombre Estudiante</th>
                                    <th class="pl-4 pr-4 py-2 text-white text-center">Accion</th>
                                </thead>
                                <tbody class="bg-light">
                                    <tr mdbTableCol *ngFor="let metrica of metricasVisualizar | filterEstudianteMetricas: palabraClaveESelected:optionSelected">
                                        <td class="pl-3 pr-5 py-2 text-dark">{{ metrica.estudiante }}</td>
                                        <td class="pl-4 pr-4 py-2"> 
                                            <a class="btn bg-success py-0 px-1 text-dark font-weight-bold" data-toggle="modal" data-target="#mimodalejemplo2" (click)="getAvanceEstudianteModal(metrica)">ver Metricas</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr class="style10">

                        <!--Opcion de Reinicio de Actividad-->
                        <div>
                            <h5 style="cursor:context-menu" class="">Reinicio de Actividad:</h5>
                        </div>
                        <label class="pt-2">Al reiniciar la actividad, los datos actuales de los estudiantes que se han almacenado
                            ya no seran tomados encuentas en esta Actividad para generar sus Metricas. Las nuevas Metricas de la
                            actividad seran generadas con los nuevos datos que se obtengan en adelante de los actuales estudiantes
                            o de los nuevos estudiantes.
                        </label>
                        <!--Boton Reiniciar Actividad-->
                        <div class="row pt-3 justify-content-md-center no-gutters bg-light">
                            <button type="button" class="btn btn-default bg-warning font-weight-bold" data-dismiss="modal" data-toggle="modal" data-target="#mimodalejemplo3">Reiniciar Actividad</button>
                        </div>
                        <hr class="style10">

                    </div>  
                </div>
                <div class="modal-footer justify-content-md-center no-gutters bg-light">
                    <button type="button" class="btn btn-default bg-warning font-weight-bold" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Metricas Estudiante -->
    <div class="modal fade" id="mimodalejemplo2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h4 class="modal-title" id="myModalLabel">Metricas Estudiante</h4>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-light">
                    <!--Metricas Globales Actividad-->
                    <div class="pb-2">
                        <h5 style="cursor:context-menu" class="">Estudiante: {{ metricaVisualizarToSave.estudiante }}</h5>
                    </div>
                    <div class="pb-1 row">
                        <h6 style="cursor:context-menu" class="col-3">Progreso Actividad: </h6>
                    </div>
                    <div class="progress">
                            <div *ngIf="bar20" class="progress-bar progress-bar-striped bg-success progress-bar-animated " role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%">
                                20%
                            </div>
                            <div *ngIf="bar40" class="progress-bar progress-bar-striped bg-success progress-bar-animated " role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                40%
                            </div>
                            <div *ngIf="bar60" class="progress-bar progress-bar-striped bg-success progress-bar-animated " role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                60%
                            </div>
                            <div *ngIf="bar80" class="progress-bar progress-bar-striped bg-success progress-bar-animated " role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                80%
                            </div>
                            <div *ngIf="bar100" class="progress-bar progress-bar-striped bg-success progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                100%
                            </div>
                        </div>
                    <div class="row-1">
                        <div class="card mb-4 border-0" style="max-width: 1440px;">
                            <div class="row no-gutters ">
                                <div class="col" style="max-width: 840px;">
                                    <div class="card-body p-2">
                                        <p class="card-text mb-1 ml-2">Acciones</p>
                                        <div>
                                            <a class="card-text"><small class="text-muted">El estudiante inico la Actividad: </small></a>
                                            <a> {{metricaVisualizarToSave.inicio}}</a>
                                        </div>
                                        <div>
                                            <a class="card-text"><small class="text-muted">El estudiante vio el Contenido: </small></a>
                                            <a> {{metricaVisualizarToSave.contenido}}</a>
                                        </div>
                                        <div>
                                            <a class="card-text"><small class="text-muted">Numero de veces que vio el contenido: </small></a>
                                            <a> {{metricaVisualizarToSave.count_contenido}}</a>
                                        </div>
                                        <div>
                                            <a class="card-text"><small class="text-muted">El estudiante hizo el Quiz: </small></a>
                                            <a> {{metricaVisualizarToSave.quiz}}</a>
                                        </div>
                                        <div>
                                            <a class="card-text"><small class="text-muted">El estudiante hizo el Taller:
                                                </small></a>
                                            <a> {{metricaVisualizarToSave.taller}}</a>
                                        </div>
                                        <div>
                                            <a class="card-text"><small class="text-muted">El estudiante hizo la Evaluación: </small></a>
                                            <a> {{metricaVisualizarToSave.evaluacion}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col my-auto" style="max-width: 840px;">
                                    <div class="card-body p-2">
                                        <p class="card-text mb-1 ml-2">Notas</p>
                                        <div>
                                            <a class="card-text"><small class="text-muted">Nota Quiz del estudiante: </small></a>
                                            <a> {{metricaVisualizarToSave.nota_quiz}}</a>
                                        </div>
                                        <div>
                                            <a class="card-text"><small class="text-muted">Nota Evaluacion del estudiante: </small></a>
                                            <a> {{metricaVisualizarToSave.nota_evaluacion}}</a>
                                        </div>
                                        <div>
                                            <a class="card-text"><small class="text-muted">Nota Final del estudiante: </small></a>
                                            <a> {{metricaVisualizarToSave.nota_final}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Confirmar Reiniciar Actividad -->
    <div class="modal fade" id="mimodalejemplo3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="myModalLabel">Confirmar Acción</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Para reiniciar la Actividad presione Aceptar, de lo contrario presione X
                    para cancelar.
                </div>
                <div class="modal-footer justify-content-md-center no-gutters bg-light py-1">
                    <button class="btn btn-default bg-warning font-weight-bold" data-dismiss="modal"
                        (click)="reiniciarActividad()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

</div>

